@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Piadas Bestas</h1>
     <a>Uma página com algumas piadas sem graças rodando no seu servidor local</a>
</div>
